<!DOCTYPE html>
<html ng-app="myModule">
<head>
  <script src="scripts/angular.js"></script>
  <script src="scripts/script.js"></script>
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <div ng-controller="myController">
    Search: <input type="text" placeholder="Search city and name" ng-model="searchText" />
    <br/>
    <br/>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Salary</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees | filter:search">
          <td> {{ employee.name }}</td>
          <td> {{ employee.gender }}</td>
          <td> {{ employee.salary }}</td>
          <td> {{ employee.city }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
